sk
flask-cors
gunicorn
numpy
opencv-python
mediapipe
pymongo
dnspython
python-dotenv

--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1

--extra-index-url https://download.pytorch.org/whl/cpu
torchvision
